:root {
  --primary: #8307ff;
  --secondary: #615ef9;
  --white: #e1e1fa;
  --gray: #6e6e89;
  --warning: #f8cb62;
  --success: #09ba7a;
  --danger: #b02120;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
