:root {
  --primary: #8307ff;
  --secondary: #615ef9;
  --white: #e1e1fa;
  --gray: #6e6e89;
  --yellow: #f8cb62;
  --green: #09ba7a;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
